@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We value your privacy and are committed to protecting your personal information. 
    This Privacy Policy outlines how we collect, use, and safeguard your data when you visit our website. 
    We collect personal information you provide to us, such as your name, email address, and payment details,
    as well as information automatically collected through cookies and similar technologies. This data is used
    to enhance your experience, process transactions, and communicate with you. We do not share your information 
    with third parties except as necessary to provide our services or comply with legal obligations. Your data is
    stored securely, and we take reasonable measures to protect it from unauthorized access. By using our website,
    you consent to the practices described in this policy.</p>
